@media screen and (max-width:424px) {
  body{
    margin:0px;
  }
  .menuCSS3{
    display: none
  }
}

body{
  overflow: hidden;
}

header{
  background-color: black;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  height: 90px;
  background-image: url(img/logoOH.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 250px;

}

h1{
  color: black;
  margin-top: 150px;
  text-align: center;
  margin-left: 90px;
  font-family: Rubik;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: white;
}

a:active{
  color: white;
}

input#abrir-cerrar {
    visibility:hidden;
    position: absolute;
    top: -9999px;
}

.toggle-button {
    display:inline-block;
    width:40px;
    height:40px;
    position:relative;
    cursor: pointer;
    box-sizing: border-box;
    float: right;
    margin: 15px;
    margin-top: 25px;
    margin-right: 40px;
}

.toggle-button:before, .toggle-button:after {
      position:absolute;
      display:inline-block;
      content:" ";
      width: calc(100% / 2);
      box-sizing: border-box;
      left: calc(100% / 4);
      transition: all 0.2s ease-out;
  }

  .toggle-button:before {
      top: calc(100% / 4);
      height:calc(100% / 4);
      border-top:1px solid white;
      border-bottom:1px solid white;
      background-color: transparent;
  }

  .toggle-button:after {
      height:1px;
      background-color:white;
      bottom:calc(100% / 4);
  }

  input#abrir-cerrar:checked + .toggle-button:before, input#abrir-cerrar:checked + .toggle-button:after {
          top:calc(100% / 2);
          height:1px;
          border-bottom:0;
      }

      input#abrir-cerrar:checked + .toggle-button:before {
          transform: rotate(45deg);
      }

      input#abrir-cerrar:checked + .toggle-button:after {
          transform: rotate(-45deg);
      }

      .abrir, .cerrar {
              position:absolute;
              top:0;
              right:0;
              bottom:0;
              left:0;
          }

          .abrir {
              display:inline-block;
          }

          .cerrar {
              display:none;
          }

          input#abrir-cerrar:checked + .toggle-button .abrir {
              display:none;
          }

          input#abrir-cerrar:checked + .toggle-button .cerrar {
              display:block;
          }

#ham{
background-color: black;
width: 150px;;
height: 140px;
font-size: 25px;
font-family: rubik;
margin-top: 50px;
padding: 10px;
float: right;
list-style: none;
}

#presentacion{
  height: 100px;
  width: 400px;
  text-align: center;
  line-height: 20px;
  margin-top: 10px;
  margin-left: 5px;
  font-family: rubik;
}

#usuario{
  margin: 0 auto;
  margin-top: 5px;
  margin-right:20px;
  color: white;
  width: 200px;
  height: 300px;
  font-size: 50px;
  font-family: rubik;
}

input{
  width: 200px;
  display: block;
  margin-top: 10px;
  border: 1px, black;
}

#envia{
  width: 100px;
  margin-left: 50px;

}


footer{
  background-color: black;
  height: 50px;
  bottom: 0px;
  width: 100%;
  position: fixed;
}

img{
  width: 30px;
  margin-top: 4px;
  margin-left: 180px;
}
