@media screen and (min-width:425px) {
  body{
    margin: 0px;
  }
  input{
    display: none;
  }
}

header{
  background-color: black;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  height: 90px;
  background-image: url(img/logoOH.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 250px;

}

/* anvorgesa*/
input#abrir-cerrar {
        visibility:hidden;
        position: absolute;

    }

    .toggle-button {
        display:block;
        width:50px;
        height:50px;
        background-color: black;
        position:relative;
        cursor: pointer;
        box-sizing: border-box;
        margin-left: 1400px;
        margin-top: 20px;
    }

    .toggle-button:before, .toggle-button:after {
        position:absolute;
        display:block;
        content:" ";
        width: calc(100% / 2);
        box-sizing: border-box;
        left: calc(100% / 4);
        transition: all 0.2s ease-out;
    }

    .toggle-button:before {
        top: calc(100% / 4);
        height:calc(100% / 4);
        border-top:1px solid white;
        border-bottom:1px solid white;
        background-color: transparent;
    }

    .toggle-button:after {
        height:1px;
        background-color:white;
        bottom:calc(100% / 4);
    }

    input#abrir-cerrar:checked + .toggle-button:before, input#abrir-cerrar:checked + .toggle-button:after {
       top:calc(100% / 2);
       height:1px;
       border-bottom:0;
   }

   input#abrir-cerrar:checked + .toggle-button:before {
       transform: rotate(45deg);
   }

   input#abrir-cerrar:checked + .toggle-button:after {
       transform: rotate(-45deg);
   }

   .abrir, .cerrar {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
    }

    .abrir {
        display:block;
    }

    .cerrar {
        display:none;
    }

    input#abrir-cerrar:checked + .toggle-button .abrir {
        display:none;
    }

    input#abrir-cerrar:checked + .toggle-button .cerrar {
        display:block;
    }

  #ham{
    background-color: black;
    width: 120px;
    height: 170px;
    font-size: 25px;
    margin-top: 50px;
    float: right;
}

.menuCSS3 ul {
  display: flex;
  float: right;
  padding: 0;
	margin: 0;
  list-style: none;
}
.menuCSS3 a {
	display: block;
	padding: 2em;
	background-color: black;
	text-decoration: none;
	color: white;
  font-family: rubik;
}
  .menuCSS3 a:hover {
    background-color: #FF0D17;
}
  .menuCSS3 ul li ul {
    display: none;
}
  .menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
    display: block;
}

#presentacion{
  /*si esto se quita explota la web :)*/
}

input{
  width: 200px;
  display: block;
  margin-top: 20px;
}

footer{
  background-color: black;
  height: 50px;
  bottom: 0px;
  width: 100%;
  position: fixed;
}

img{
  width: 30px;
  margin-top: 4px;
  margin-left: 700px;
}
